* {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}
/* .clearfix::after{
  content: '';
  display: table;
  clear: both;
} */
/* navigation bar by class */
.nav-bar-section{
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 12;
  background-color: #292930;
  box-shadow: 0px 0px 8px 0px rgb(184, 177, 177);
}
#nav1 {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 16px 0px;
}
.left {
  width: 40%;
  display: flex;
}
.right {
  width: 40%;
  display: flex;
  justify-content: flex-end;
}
ul {
  list-style-type: none;
  display: flex;
}
.left ul li a {
  text-decoration: none;
  color:#fff;
  padding:0px 10px;
}

.right ul li a {
  text-decoration: none;
  color:#fff;
  padding:0px 10px;
}
/* 2nd navbar start  */

#nav2 {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding:20px 0px;
  background-color: #ffffff;
}
img {
  width: 100%;
}
#navigation1 {
  width: 14%;
}
#navigation2 {
  width: 40%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#navigation2 ul {
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#navigation2 ul li a {
  display: block;
  text-decoration: none;
  color: black;
  font-size: 1.1rem;
  font-weight: 600;

}
#navigation3 {
  width: 18%;
  cursor: pointer;
   display: flex;
  justify-content: center;
  gap: 14px;
  align-items: center;
}
.link-icon-section{
  display: flex;
  justify-content: center;
  gap: 8px;
}
.link-icon-section i {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.link-icon-section i:hover {
  background-color:#3778F0;
  transition: all 1s;
}
.menu-btn{
  display: none !important;
  outline: none;
  border: none;
  padding: 5px 12px;
  background-color: #fff;
  cursor: pointer;
}
#bars{
  font-size: 2rem;
}
.slide-menu{
  padding-top: 60px;
  width: 0px;
  height: 100vh;
  background-color: #F9F3F0;
  position: fixed;
  z-index: 12;
  overflow-x: hidden;
  top: 0px;
  right: 0;
  transition: 0.5s;
}
.close-btn{
  position: absolute;
  top: 0;
  right: 20px;
  font-size: 2.8rem;
  padding: 5px 12px;
  outline: none;
  border: none;
  color: #000;
  background-color: #F9F3F0;

}
.slide-link{
  width: fit-content;
  padding-top: 20px;
  display: block;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
  color: #000 !important;
  margin-left: 20px;
}
.hero-image {
  width: 100%;
  padding: 60px 0px;
  margin-top: 20vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: #f9f3f0;
}
/* background image item-1 start  */
#item-1 {
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items:flex-start;
  padding: 30px 0px;
  /* border: 0.5px solid black; */
}
#pinktxt {
  color: #e11477;
  font-weight: 400;
}
#big-text-1 {
  font-weight: 600;
  font-size: 3rem;
  padding-top: 10px;
  padding-bottom: 30px;
}
#btn-1 {
  border-radius: 10px;
}
#btn-1 button i {
  padding: 0px 4px;
}
#btn-1 button {
  background-color: #ffffff;
  font-size: 1rem;
  padding: 20px 40px;
  border-radius: 10px;
  /* outline: none; */
  border: none;
  cursor: pointer;
}
#btn-1 button:hover{
  background-color: #3577f0;
  transition: all 1s;
  color: white;
}
#rating-image {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  padding:10px ;
  /* border: 0.5px solid black; */
}
.imgcircle1 {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-image: url("https://new.axilthemes.com/demo/template/etrade/assets/images/others/author2.png");
  background-size: contain;
  background-repeat: no-repeat;
  /* border: 0.5px solid black; */
}
.imgcircle2 {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-image: url("https://new.axilthemes.com/demo/template/etrade/assets/images/others/author3.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #ffffff;
  padding: 20px;
  margin-left: -20px;
  /* border: 0.5px solid black; */
}
.imgcircle3 {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-image: url("https://new.axilthemes.com/demo/template/etrade/assets/images/others/author4.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: -20px;
  /* border: 0.5px solid black; */
}
.imgcircle4 {
  float: left;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-image: url("https://new.axilthemes.com/demo/template/etrade/assets/images/others/author1.png");
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: -20px;
  /* border: 0.5px solid black; */
}
.rating-section {
  float: left;
  /* border: 0.5px solid black; */
  width: fit-content;
  padding: 15px 20px;
  color: #959393;
}
#ra100 {
  font-weight: 800;
  color: black;
}
/* background image item-2 */
#item-2 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  /* border: 0.5px solid black; */
}
#Headphone {
  width: 80%;
  transform: rotateX(0deg);
}
.circle {
  position: absolute;
  top: 20px;
  left: 140px;
  width: 100px;
  height: 100px;
  /* text-align: center; */
  padding: 30px;
  color: #7b7575;
  border-radius: 50%;
  background-color: #ffffff;
}
.circle-text {
  width: fit-content;
  color: dodgerblue;
  font: size 1rem;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 5px;
  font-weight: 700;
}

/*  catogaries  */

#catogaries-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e11477;
  height: 30px;
  width: 30px;
  border-radius: 50%;
}
#catogaries-text{
  color: #e11477;
  margin-left: 10px;
}
/* container1 starts  */
#container1 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 60px 0px;
}
.item7 {
  width: 10%;
  padding: 20px 0px;
  background-color: #ffffff;
  border-radius: 6px;
  border: 0.5px solid #f0f0f0;
  box-shadow: 0px 7px 8px 0px rgb(184, 177, 177);

}
.accessories-image {
  width: 60%;
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: center;
}
.Item7-names{
  padding-top: 10px ;
  margin: auto;
  font-size: 0.90rem;
  /* border: 1px solid; */
}

#music-row {
  width: 100%;
  display: flex;
  margin-top: 40px;
  justify-content: center;
  /* border:0.5px solid black ; */
}
#music-row-2nd {
  width: 90%;
  padding:20px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 6px;
  background-color: #f6f7fb;
}

#music1 {
  width: 49.9%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 40px;
  /* border:0.5px solid black ; */
}
#pink-headphn-circle-text {
  float: left;
  color: #df1159;
  padding: 5px;
}
#big-text-2 {
  font-size: 3rem;
  font-weight: 600;
  padding-top: 10px;
  padding-bottom: 20px;
}
#hour-circle-div {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content:center;
  margin: 0px 0px 20px 0px;
  /* border:0.5px solid black ; */
}
.hrs-circle {
  background-color: #ffffff;
  font-size: 1.8rem;
  font-weight: 600;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  padding: 10px 10px;
  margin: auto;
  text-align: center;
  border: 0.5px solid transparent;
}
.day {
  font-weight: 500;
  font-size: 0.9rem;
}
.hrs {
  font-size: 0.9rem;
  font-weight: 500;
}
.min {
  font-size: 0.9rem;
  font-weight: 500;
}
.sec {
  font-size: 0.9rem;
  font-weight: 500;
}
.check-it-btn {
  width: 160px;
  padding: 20px 4px;
  font-size: 1rem;
  font-weight: 700;
  color: #ffffff;
  border-radius: 10px;
  border: none;
  background-color: dodgerblue;
}

#music2 {
  width: 32%;
  margin-top: -100px;
  /* border:0.5px solid black ; */
}
#music2 img{
  width: 100%;
}
.our-product-div{
  display: flex;
  align-items: center;
}
.products-heading-row {
  width: 100%;
 display: flex;
 flex-direction: column;
 padding: 20px 60px;
  /* border: 0.5px solid black; */
  margin-top: 10px;
}

#our-product-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #8c71db;
  height: 30px;
  width: 30px;
  border-radius: 50%;
}
#product-text{
  color: #8c71db;
  margin-left: 10px;
}
.product-heading {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px 0px;
  /* border: 0.5px solid black; */
}
.Explore-text{
  font-size: 2.3rem;
  font-weight: 600;
  width: 50%;
  /* border: 0.5px solid black; */
}
.arrow {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* border: 0.5px solid black; */
}
.arrow-left {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  margin-right: 10px;
  font-size: 1.4rem;
  border-radius: 5px;
  background-color: #f6f7fb;
}
.arrow-left:hover{
  background-color: #3778F0;
  color: #fff !important;
  cursor: pointer;
  transition: all 1s;
}
.arrow-right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  margin-right: 10px;
  font-size: 1.4rem;
  border-radius: 5px;
  background-color: #f6f7fb;
}
.arrow-right:hover{
  background-color: #3778F0;
  color: #fff !important;
  cursor: pointer;
  transition: all 1s;
}
/* Explore product  */
#Explore-row1 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 30px 0px ;
}
.item-4 {
  width: 25%;
  padding: 20px 0px;
}
.product-page {
  position: relative;
  display: block;
  width: 80%;
  margin: auto;
  margin-top: 18px;
  border-radius: 18px;
  overflow: hidden;
}
.product-page:hover {
  box-shadow: 10px 10px 5px rgb(230, 229, 229);
  transition: all 1s;
}
.product-page img {
  border-radius: 16px;
}
.product-page img:hover{
  transform: scale(1.1);
  transition: all 1s;
}
.item-4-product-name-div{
  width: 80%;
  margin: auto;
  line-height: 1.4;
  padding: 20px 0px;
}
.image-box-name {
  display: block;
  text-decoration: none;
  color: #5c5757;
}
.image-box-name:hover{
  color: #3577f0;
  transition: all 1s;
}
.offer-price {
  display: inline-block;
}
.MRP {
  display: inline-block;
  margin: 0px 5px;
  text-decoration: line-through;
  color: #5c5757;
}

/* veiw all product button row */
#veiw-all-product {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  /* border: 0.5px solid black; */
}
#all-product {
  font-size: 0.9rem;
  height: 70px;
  width: 200px;
  font-weight: 600;
  border-radius: 10px;
  border: none;
  background-color: #f6f7fb;
  color: #777777;
  cursor: pointer;
}
#all-product:hover{
  background-color: #3778F0;
  color: #fff;
  transition: all 1s;
}

/* user feedback container  */
.feedback-container {
  width: 100%;
  background-color: #f9f3f0;
}
#feedback-heading-row {
  width: 100%;
 display: flex;
 flex-direction: column;
 padding: 20px 60px;
  background-color: #f9f3f0;
  /* border: 0.5px solid black; */
  margin-top: 10px;
}

#testimonial-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #e11477;
}
#testimonial-text {
  color: #e11477;
}
.feedback-heading {
  width: 100%;
  display: flex;
  justify-content: center;
  /* border: 0.5px solid black; */
}
#feedback-text {
  font-size: 2.3rem;
  font-weight: 600;
  width: 50%;
  /* border: 0.5px solid black; */
}
.feedback-arrow {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* border: 0.5px solid black; */
}
.feedback-arrow-left {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  margin-right: 10px;
  font-size: 1.4rem;
  border-radius: 5px;
  background-color: #f6f7fb;
}
.feedback-arrow-right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  margin-right: 10px;
  font-size: 1.4rem;
  border-radius: 5px;
  background-color: #f6f7fb;
}
#feedback-row {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: #f9f3f0;
}
.item3 {
  width: 30%;
  text-align: justify;
  padding-bottom: 14px;
}
.feedback-box1-text {
  width: 90%;
  margin: auto;
  background-color: #ffffff;
  padding:40px 20px;
  border-radius: 5px;
}
.feedbacker-profile {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  padding: 10px 0px;
  /* border:0.5px solid black; */
}
.profile-image {
  width: 60px;
  height: 60px;
  /* border: 0.5px solid black; */
}
.profile-name {
  text-align: center;
  margin-left: 10px;
  margin-top: 10px;
  /* border: 0.5px solid black; */
}
#feedback-box2 {
  margin-top: 30px;
}
/* new arrival start  */
.new-arrival-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  padding: 0px 10px;
  /* border: 0.5px solid black; */
}

.new-arrival-products {
  width: 100%;
  height: 15vh;
  padding: 10px 60px;
  margin-top: 10px;
  /* border: 0.5px solid black; */
}
.new-arrival-product-tag-circle {
  display: inline-block;
  height: 30px;
  width: 30px;
  padding: 6px;
  border-radius: 50%;
  /* border:0.5px solid black ; */
  background-color: #8c71db;
}
.new-arrival-product-text {
  color: #8c71db;
  padding: 0px 4px;
}
.new-arrival-product-heading {
  width: 100%;
  display: flex;
  justify-content: center;
}
.new-arrival-Explore-text {

  font-size: 2.3rem;
  font-weight: 600;
  padding: 10px 0px 14px 0px;
  width: 49.99%;
  /* border: 0.5px solid black; */
}
.new-arrival-arrow {
  width: 49.99%;
  /* border: 0.5px solid black; */
}
.new-arrival-arrow-left {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  margin-right: 10px;
  font-size: 1.4rem;
  border-radius: 5px;
  color: #aab2c0;
  background-color: #f6f7fb;
}
.new-arrival-arrow-right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  margin-right: 10px;
  font-size: 1.4rem;
  border-radius: 5px;
  color: #aab2c0;
  background-color: #f6f7fb;
}
/* Explore product  */
.row{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 20px 0px;
}
.arivval-item-4 {
  width: 20%;
  text-align: center;
  padding: 20px 0px;
}
.arivval-item-4-page{
  position: relative;
  overflow: hidden;
  display: block;
  width: 90%;
  margin: auto;
  border-radius: 50%;
  /* border: 0.5px solid black; */
}
.arivval-item-4-page img {
  border-radius: 50%;

}
.arivval-item-4-page img:hover{
  transform: scale(1.1);
  transition: all 1s;
}
.arivval-image-name {
  display: block;
  text-decoration: none;
  color: #5c5757;
  padding: 10px 0px;
}
.arivval-offer-price {
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  /* font-weight: 600; */
}
.arivval-MRP {
  display: inline-block;
  margin: 0px 5px;
  text-decoration: line-through;
  color: #5c5757;
  font-family: Arial, Helvetica, sans-serif;
}
.button-box {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 5px;
  background-color: #ffffff;
  border-radius: 5px;
}
.eye-btn {
  border: 0.5px solid #fefefe;
  font-size: 1.2rem;
  font-size: 1.2rem;
  border-radius: 5px;
  padding: 5px;
  background-color: #fefefe;
}
.select-btn {
  font-size: 1rem;
  font-weight: 600;
  border-radius: 5px;
  padding: 10px 20px;
  border: none;
  color: #fefefe;
  cursor: pointer;
  background-color: #ff497c;
}
.heart-btn {
  border: 0.5px solid #fefefe;
  font-size: 1.2rem;
  border-radius: 5px;
  padding: 5px;
  background-color: #fefefe;
}

/* Most Sold Container start  */
.star-div {
 display: flex;
 justify-content: center;
 align-items: center;
 gap: 6px;
}
.star {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #8c71db;
  /* border:1px  solid black; */
}
.most-sold {
  color: #8c71db;
  font-size: 0.9rem;
  font-family: Arial, Helvetica, sans-serif;
}
.most-sold-heading {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 2rem;
  padding: 10px 0px;
  font-weight: 600;
}
/* items section start  */

.sold-most-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 5px;
  padding: 40px 0px;
  /* border:1px  solid black; */
}
.mostsold-itembox8 {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
  width: 40%;
  border-radius: 5px;
  border: 1px solid #f1f1f1;
}
.mostsold-itembox8:hover {
  box-shadow: 12px 12px 20px 10px #ebe9e9;
}
.itembox8-box1 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
  padding: 10px 0px;
  /* border:1px  solid black; */
}
.itembox8-box1-image {
  width: 26%;
}
.itembox8-box1-text {
  width: 60%;
  line-height: 1.8rem;
}
.itembox8-MRP {
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}
.itembox8-box2 {
  width: 14%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  /* border:1px  solid black; */
}
.Itembox8-box2-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #f1f1f1;
  border-radius: 5px;
  margin: 4px;
  height: 40px;
  width: 40px;
}
.Itembox8-box2-heart {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #f1f1f1;
  border-radius: 5px;
  margin: 4px;
  height: 40px;
  width: 40px;
}
.thumbs-div-section{
  display: flex;
  gap: 6px;
   justify-content: center;
   align-items: center;
}
.thums-div11{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.thums-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}
.thums-circle {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff497c;
  color: #ffffff;
  /* border: 0.5px solid black; */
}
.thumbs-text {
  display: block;
  color: #ff497c;
}
.why-people-heading {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 2.5rem;
  padding: 20px 0px;
  font-weight: 600;
}
.item5-container {
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 60px 0px;
}
.item5 {
  width: 16%;
  padding: 40px 0px ;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
   border: 0.5px solid rgb(214, 213, 213);
}
.item5:hover {
  box-shadow: 2px 10px 5px rgb(240, 240, 240), 2px 12px 4px rgb(214, 213, 213);
}
.item5-imagebox {
  width: 30%;
  margin:auto;
}
.item5-name {
  width: 90%;
  margin: auto;
  font-size: 0.96rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  padding-top: 20px;
}
.weeklyupdate-container {
  width: 100%;
 padding: 40px 0px;
}
.weeklyupdate-row {
  width: 80%;
  display: flex;
  justify-content:center;
  align-items: flex-start;
  flex-direction: column;
  margin: auto;
  padding: 40px 0px;
  padding-left: 40px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-image: url(https://new.axilthemes.com/demo/template/etrade/assets/images/bg/bg-image-5.jpg);
  border-radius: 6px;
}
.envlop-section{
  display: flex;
  align-items: center;
  padding: 10px 0px;
}
.envolop-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background-color: #3577f0;
}

.envolop-text {
  color: #3577f0;
  font-family: Arial, Helvetica, sans-serif;
}
.Get-weekly-bigtext {
  padding: 10px 0px;
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}

.input-div {
  position: relative;
  /* background-color: #f1f1f1; */
  width: fit-content;
  border-radius: 5px;
  border: none;
  margin-bottom: 20px;
  padding: 20px 0px;

}
.fa-envelope {
  position: absolute;
  left: 20px;
  font-size: 1.4rem;
  padding: 20px 10px;
}
.input-tag {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  width: 450px;
  height: 62px;
  padding-left: 60px;
  border-radius: 5px;
  outline: none;
  border: none;
}
.subscribe-btn {
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1rem;
  background-color: black;
  color: #ffffff;
  padding: 20px 35px;
  border-radius: 5px;
  border: none;
  outline: none;
}
.subscribe-btn:hover {
  cursor: pointer;
}
.footer-section {
  width: 100%;
  /* border: 0.5px solid black; */
}
.footer-row {
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  flex-wrap: wrap;
  border-top: 3px solid #f6f7fb;
  border-bottom: 3px solid #f6f7fb;
  padding: 2px 20px;
}
.footer-item4 {
  display: flex;
  flex-direction: column;
  padding: 20px 0px;
  width: 20%;
}
.fulladdress {
  padding: 20px 0px;
  color: #777777;
}
.fa-envelope-open {
  display: inline-block;
}
.footer-ul{
  display: block;
}
.footer-link {
  display: block;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  color: #777777;
  padding: 12px 0px;
}
.footer-box4text {
  padding: 10px 0px;
}
.footer-imgbox {
  display: flex;
  align-items: center;
  width: 100%;
  /* border: 0.5px solid black; */
}
.footer-imgbox1 {
  width: 34%;
}
.footer-imgbox2 {
  width: 46%;
  margin-left: 10px;
}
