*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
/* navigation bar by class */
.background-imagenav{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 0.5px solid black; */
    background-image: url(https://new.axilthemes.com/demo/template/etrade/assets/images/others/campaign-bg3.png);
    background-size: cover;
    background-position: center center;
    margin-top: 22vh;

}
.background-text{
    text-align: center;
 color: #FFFFFF;
 font-size: 1.2rem;
 font-weight: 600;
}
.All-product-section{
    width: 100%;
    padding: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F8F8F8;
}
.All-product-text-box{
    width: 40%;
}
.my-account-text{
    color: #449ee9;
}
.home{
    color: #979ca2;
}
.All-products-heading{
    font-size: 2.5rem;
    font-weight: bold;
}
.speaker-image{
    width: 40%;
    display: flex;
    justify-content: flex-end;
    /* border: 0.5px solid black; */
}
.speaker-imagebox{
    width: 30%;
}
.speaker-imagebox img{
    width: 100%;
}
.content-section{
    width: 100%;
    display: flex;
    justify-content: center;
}
.text-section{
    width: 22%;
    display: flex;
    flex-direction: column;
}
.catogaries-section{
    width:100%;
     display: flex;
     flex-direction: column;
     justify-content: space-evenly;
    color: #77777B;
    padding: 20px 0px;
    /* border: 0.5px solid black; */
}
.catogaries-heading{
    padding: 15px 6px;
    border-bottom: 2px solid rgb(32, 103, 209);
}
.catogaries-name-div{
    display: flex;
    align-items: center;
    padding: 12px 6px;
}
.catogaries-tick-circle{
    display: inline-block;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    border: 0.5px solid black;
    cursor: pointer;
}
.catogaries-name{
    padding: 0px 10px;
}
/* GENDER SECTION START */

.gender-section{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: #77777B;
    padding: 10px 0px;
}
.gender-tick-circle{
    display: inline-block;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    border: 0.5px solid black;
    cursor: pointer;
}
.gender-heading{
    padding: 15px 6px;
    border-bottom: 2px solid rgb(32, 103, 209);
}
.gender-name-div{
    display: flex;
    align-items: center;
    padding: 12px 6px;
}
.gender-name{
    padding: 0px 10px;
}
/* COLORS SECTION START  */

.colors-section{
    width:100%;
    display: flex;
    padding: 10px 0px;
    flex-direction: column;
    color: #77777B;
    padding: 15px 0px;
}
.colors-heading{
    width: 91.99%;
    padding: 15px 6px;
    border-bottom: 2px solid rgb(32, 103, 209);
}
.color-circle{
    display: flex;
    gap: 10px;
    margin: 5px;
    flex-wrap: wrap;  
}
.colors-tick-circle{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    /* border: 0.5px solid black; */
}
#colors-tick-circle1{
    background-color: #e35285;
}
#colors-tick-circle2{
    background-color: #e3de52;
}
#colors-tick-circle3{
    background-color: #52e3d2;
}
#colors-tick-circle4{
    background-color: #8520c4;
}
#colors-tick-circle5{
    background-color: #d388a2;
}
#colors-tick-circle6{
    background-color: #3f0419;
}
#colors-tick-circle7{
    background-color: #e35285;
}
#colors-tick-circle8{
    background-color: #cde352;
}
#colors-tick-circle9{
    background-color: #52c6e3;
}
#colors-tick-circle10{
    background-color: #e3b352;
}
#colors-tick-circle11{
    background-color: #96a772;
}
#colors-tick-circle12{
    background-color: #4a1e22;
}
#colors-tick-circle13{
    background-color: #cd7070;
}
#colors-tick-circle14{
    background-color: #7dac9b;
}
#colors-tick-circle15{
    background-color: #685593;
}

/* SIZE SECTION START  */
.size-section{
    width: 100%;
    color: #77777B;
    display: flex;
    padding: 10px 0px;
    flex-direction: column;
    /* border: 0.5px solid black; */
}
.size-heading{
    padding: 15px 6px;
    border-bottom: 2px solid rgb(32, 103, 209);
}
.size-circle-section{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.size-tick-circle{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 54px;
    height: 54px;
    margin-top: 8px;
    border-radius: 50%;
    font-size: 1.3rem;
    border: 0.5px solid black;
    cursor: pointer;
}
/* ALL RESET BUTTON START  */

.all-resetbtn-section{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
}
.reset-btn{
    width: 200px;
    height: 60px;
    font-size: 1rem;
    color: #FFFFFF;
    background-color: #3577F0;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

/* IMAGE SECTION START  */

.image-section{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.shortlisted-row{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    padding: 40px 20px;

    /* border: 0.5px solid black; */
}
#select-btn{
    font-size: 1rem;
    width: 160px;
    height: 52px;
    margin: 0px 6px;
    border-radius: 6px;
}
.image-section-row{
    width: 100%;
    margin-top: 10px;
    padding: 10px 0px;
    display: flex;
    justify-content: space-evenly;
    /* border: 0.5px solid black; */

}
.image-section-row-item3{
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    /* border: 0.5px solid black; */
}
.image-item3-box-name{
    width: 74%;
    color:rgb(100, 99, 99);
    font-size:1.2rem; 
    padding: 10px 0px;

}
.image-item3-box-name:hover{
    color: #3577F0;
    transition: all 1s;
    cursor: pointer;
}
.item-3-price-box{
    width: 74%;
    display: flex;
}
.image-item3-box-offer-price{
    display: inline-block;
    color:black ;
    font-weight: 600;
    font-size:1.4rem; 
}
.image-item3-box-MRP-price{
    color:gray ;
    font-weight: 600;
    display: inline-block;
    text-decoration: line-through;
    font-size:1.2rem; 
}
.button-section{
    width: 100%;
    padding: 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 0.5px solid black; */
}
.load-more-btn{
    font-size: 1rem;
    font-weight: 600;
    color: #777777;
    width: 200px;
    height: 60px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: #F6F7FB;
}
.load-more-btn:hover{
    background-color: #3577F0;
    transition: all 1s;
    cursor: pointer;
    color: #FFFFFF;
}

@media screen and (max-width:480px) {
    .background-imagenav{
        margin-top: 18vh;
        height: 6vh;
    }
    .background-text {
        font-size: 0.80rem;
    }
    .All-product-section {
        width: 100%;
        padding: 10px 0px
    }
    .All-product-text-box,
    .speaker-image{
        width: 50%;
        padding-left: 10px;
    }
    .my-account-text {
        font-size: 0.75rem;
        padding-bottom: 5px;
    }
    .All-products-heading {
        font-size: 1.2rem;
        font-weight: bold;
    }
    .speaker-imagebox {
        width: 40%;
        margin-right: 10px;
    }
    .text-section {
        display: none !important;
    }
    .shortlisted-row{
        justify-content: space-between;
    }
    .showing-result{
        font-size: 0.80rem;
    }
    #select-btn {
        font-size: 0.80rem;
        width: 116px;
        height: 38px;
    }
    .image-section {
        width: 100%;
    }
    .image-section-row-item3 {
        width: 33%;
    }
    .image-item3-box-name {
        font-size: 0.80rem;
    }
    .image-item3-box-offer-price {
        font-size: 1.1rem;
    }
    .image-item3-box-MRP-price {
       margin-left: 5px;
        font-size: 0.98rem;
    }
    .load-more-btn {
        font-size: 0.90rem;
        width: 140px;
        height: 48px;
    }
}

