*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
/* navigation bar by class */
#nav1{
    width:100%;
    height: 8vh;
    margin: auto;
    padding: 10px 50px;
    background-color: #292930;
    color: #B9C2CC;
    /* border: 0.5px solid black; */
}
.left{
    width: 49.9%;
    float: left;
    /* border: 0.5px solid black; */
}
.right{
    width: 49.9%;
    float: left;
    /* border: 0.5px solid black; */
}
ul{
    list-style-type: none;
}
.left ul li{
    float: left;
}
.right ul li{
    float: right;
  
}
.left ul li a{
    text-decoration: none;
    color: black;
    display: block;
    color: #B9C2CC;
    padding: 10px 20px;
}


.right ul li a{
    text-align:end;
    text-decoration: none;
    color: black;
    display: block;
    color: #B9C2CC;
    padding: 10px 20px;
}
/* Navbar 2 starts */
#nav2{
    width:100%;
    height: 12vh;
    border-radius: 10px;
    padding: 15px 30px 5px 30px;
    background-color: #FFFFFF;
    margin:0px auto;
    /* border: 0.2px solid black; */
}
img{
    width: 100%;
    height: 100%;
}
#navigation1{
float: left;
width: 12%;
margin-left: 20px;
padding:10px;
/* border: 0.5px solid black; */
}
#navigation2{
    width: 45%;
    padding-left:0pxpx;
    /* border: 0.5px solid black; */
    float: left;
}
#navigation2 ul{
    list-style: none;
}
#navigation2 ul li{
    float: left;
    /* margin-left: 15px; */
}
#navigation2 ul li a{
    display: block;
    font-size: 1.1rem;
    text-decoration: none;
    color: black;
    padding: 16px 0px 16px 35px ;
}
#navigation2 ul li a:hover{
    text-decoration: underline;
}
.navigation-input{
    position: relative;
    float: left;
    /* border: 0.5px solid black; */
    padding: 5px 0px;
    width: 22%;
}
.fa-magnifying-glass{
position: absolute;
left: 32px;
top: 26px;
z-index: 1;
}
.search-input-tag {
    font-size: 1rem;
    padding: 10px 60px;
    border-radius: 5px;
    border:0.5px solid #B9C2CC;
    outline: none;
}
#navigation3{
    float: left;
    width: 14%;
    padding:0px;
    /* border: 0.5px solid black; */
    cursor: pointer;
    
}
#navigation3 i{
    float: right;
    border-radius: 50%;
    /* border: 0.5px solid black; */
    padding: 20px 14px;
    margin-left: 0px;
}

#navigation3 i:hover{
    border-radius: 50%;
    background-color: #e35285;
    
}
.background-imagenav{
    width: 100%;
    height: 10vh;
    padding:28px;
    /* border: 0.5px solid black; */
    background-image: url(https://new.axilthemes.com/demo/template/etrade/assets/images/others/campaign-bg3.png);
    background-size: cover;
    background-position: center center;

}
.background-text{
    text-align: center;
 color: #FFFFFF;
 font-size: 1.2rem;
 font-weight: 600;
}
.All-product-section{
    width: 100%;
    height: 30vh;
    background-color: #F8F8F8;
    padding: 0px 70px;
    /* border: 0.5px solid black; */
}
.All-product-text-box{
    width: 49%;
    height: 30vh;
    padding-top: 10vh;
    float: left;
    /* border: 0.5px solid black; */
}
.my-account-text{
    color: #449ee9;
}
.home{
    color: #979ca2;
}
.All-products-heading{
    font-size: 2.5rem;
    font-weight: bold;
}
.speaker-image{
    width: 51%;
    height: 30vh;
    float: left;
    padding: 30px 60px 50px 490px;
    /* border: 0.5px solid black; */
}
.speaker-imagebox{
    width: 100%;
    height: 20vh;
}
.content-section{
    width: 100%;
    height: 184vh;
    padding: 20px 60px;
    /* border: 0.5px solid black; */
}
.text-section{
    float: left;
    width: 24.99%;
    height: 178vh;
    /* border: 0.5px solid black; */
}
.catogaries-section{
    width: 99.99%;
    padding-left: 5px;
    color: #77777B;
    /* border: 0.5px solid black; */
    height: 54vh;
}
.catogaries-heading{
    width: 91.99%;
    padding: 15px 6px;
    border-bottom: 2px solid rgb(32, 103, 209);
}
.catogaries-name-div{
    padding: 12px 6px;
}
.catogaries-tick-circle{
    display: inline-block;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    border: 0.5px solid black;
    cursor: pointer;
}
.catogaries-name{
    padding: 0px 10px;
}
/* GENDER SECTION START */

.gender-section{
    width: 99.99%;
    color: #77777B;
    /* border: 0.5px solid black; */
    padding-left: 5px;
    height: 28vh;
}
.gender-tick-circle{
    display: inline-block;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    border: 0.5px solid black;
    cursor: pointer;
}
.gender-heading{
    width: 91.99%;
    padding: 15px 6px;
    border-bottom: 2px solid rgb(32, 103, 209);
}
.gender-name-div{
    padding: 12px 6px;
}
.gender-name{
    padding: 0px 10px;
}
/* COLORS SECTION START  */

.colors-section{
    width: 99.99%;
    color: #77777B;
    /* border: 0.5px solid black; */
    height: 18vh;
}
.colors-heading{
    width: 91.99%;
    padding: 15px 6px;
    border-bottom: 2px solid rgb(32, 103, 209);
}
.colors-tick-circle{
    float: left;
    width: 18px;
    height: 18px;
    margin-top: 8px;
    margin-left: 14px;
    border-radius: 50%;
    /* border: 0.5px solid black; */
}
#colors-tick-circle1{
    background-color: #e35285;
}
#colors-tick-circle2{
    background-color: #e3de52;
}
#colors-tick-circle3{
    background-color: #52e3d2;
}
#colors-tick-circle4{
    background-color: #8520c4;
}
#colors-tick-circle5{
    background-color: #d388a2;
}
#colors-tick-circle6{
    background-color: #3f0419;
}
#colors-tick-circle7{
    background-color: #e35285;
}
#colors-tick-circle8{
    background-color: #cde352;
}
#colors-tick-circle9{
    background-color: #52c6e3;
}
#colors-tick-circle10{
    background-color: #e3b352;
}
#colors-tick-circle11{
    background-color: #96a772;
}
#colors-tick-circle12{
    background-color: #4a1e22;
}
#colors-tick-circle13{
    background-color: #cd7070;
}
#colors-tick-circle14{
    background-color: #7dac9b;
}
#colors-tick-circle15{
    background-color: #685593;
}

/* SIZE SECTION START  */
.size-section{
    width: 99.99%;
    color: #77777B;
    /* border: 0.5px solid black; */
    height: 30vh;
}
.size-heading{
    width: 91.99%;
    padding: 15px 6px;
    border-bottom: 2px solid rgb(32, 103, 209);
}
.size-tick-circle{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 54px;
    height: 42px;
    margin-top: 8px;
    margin-left: 12px;
    border-radius: 50%;
    font-size: 1.3rem;
    border: 0.5px solid black;
    cursor: pointer;
}
/* ALL RESET BUTTON START  */

.all-resetbtn-section{
    width: 99.99%;
    /* border: 0.5px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
}
.reset-btn{
    font-size: 1rem;
    color: #FFFFFF;
    background-color: #3577F0;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    padding: 22px 120px;
}

/* IMAGE SECTION START  */

.image-section{
    float: left;
    width: 74.99%;
    height: 178vh;
    /* border: 0.5px solid black; */
}
.shortlisted-row{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 14vh;
    padding: 0px 20px;

    /* border: 0.5px solid black; */
}
#select-btn{
    font-size: 1rem;
    padding: 18px 32px;
    margin: 0px 6px;
    border-radius: 6px;
}
.image-section-row{
    width: 100%;
    height: 51vh;
    margin-top: 10px;
    /* border: 0.5px solid black; */

}
.image-section-row-item3{
    float: left;
    width: 33.30%;
    height: 50vh;
    padding: 5px 20px;
    /* border: 0.5px solid black; */
}
.image-item3-box{
    width: 100%;
    height: 38vh;
    /* border: 0.5px solid black; */
    border-radius: 5px;
    
    
}
.image-item3-box img{
    border-radius: 5px;
}
.image-item3-box-name{
    color:rgb(100, 99, 99);
    font-size:1rem; 
    padding: 5px 0px;

}
.image-item3-box-offer-price{
    display: inline-block;
    color:black ;
    font-weight: 600;
    font-size:1.4rem; 
}
.image-item3-box-MRP-price{
    color:gray ;
    font-weight: 600;
    display: inline-block;
    text-decoration: line-through;
    font-size:1.2rem; 
}
.button-section{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 0.5px solid black; */
}
.load-more-btn{
    font-size: 1rem;
    font-weight: 600;
    color: #777777;
    padding: 25px 80px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: #F6F7FB;
}

/* Weeklyupdate-container-Background-image */

.weeklyupdate-container{
    width: 100%;
    height: 50vh;
    margin-top: 10px;
    padding:10px 60px 0px 80px;
    /* border: 0.5px solid black; */
}
.weeklyupdate-row{
    width: 100%;
    height: 48vh;
    padding-left:80px;
    padding-top: 100px;
    /* border: 0.5px solid black; */
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center center;
    background-image: url(	https://new.axilthemes.com/demo/template/etrade/assets/images/bg/bg-image-5.jpg);
    border-radius: 6px;
}
.envolop-circle{
    display: inline-block;
    padding: 4px 6px;
    border-radius: 50%;
    background-color:#3577F0;
}

.envolop-text{
    color:#3577F0;
    font-family: Arial, Helvetica, sans-serif;
}
.Get-weekly-bigtext{
    font-size: 2.2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    margin: 12px 0px 25px 0px;
}

.input-div{
    position: relative;
    display: inline-block;
    background-color: #F1F1F1;
    width: fit-content;
    border-radius: 5px;
    border: none;
}
.fa-envelope{
    position: absolute;
    left: 20px;
    font-size: 1.4rem;
    padding: 20px 10px;
}
.input-tag{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    width: 450px;
    padding: 22px 90px 22px 70px;
    border-radius: 5px;
    outline: none;
    border: none;
}
.subscribe-btn{
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
    background-color: black;
    color: #FFFFFF;
    margin-left: 20px;
    padding: 20px 35px;
    border-radius: 5px;
    border: none;
    outline: none;
}
.subscribe-btn:hover{
    cursor: pointer;
}

/* FOOTER SECTION START  */

.footer-section{
    width: 100%;
    height: 42vh;
    padding: 10px 60px 10px 80px;
    /* border: 0.5px solid black; */
}
.footer-row{
    width: 100%;
    height: 40vh;
    border-top: 3px solid #F6F7FB;
    border-bottom: 3px solid #F6F7FB;
    padding: 2px 20px;
}
.footer-item4{
    float: left;
    width: 24.99%;
    padding: 20px 40px 0px 0px ;

}
.fulladdress{
    margin: 20px 0px;
    color: #777777;
    padding:12px 60px 10px 0px ;
    /* border: 0.5px solid black; */
}
#footer-box1{
    padding: 20px 80px 0px 0px;
    /* border: 0.5px solid black; */
    /* width: 23%; */
}
.footer-link{
    display: block;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    padding: 12px 0px ;
}
#footer-box4{
    padding: 20px 0px;
}
.footer-box4text{
    padding: 5px 0px;
}
.footer-imgbox{
     float: left;
     width: 100%;
     height: 25vh;
     /* border: 0.5px solid black; */
}
.footer-imgbox1{
    float: left;
    width: 49%;
    padding: 20px 50px 20px 0px;
}
.footer-imgbox2{
    float: left;
    width: 49%;
    padding: 20px 0px;
}

@media screen and (max-width:1190px) {
    #navigation2 {
        width: 42%;
    }

    #navigation2 ul li a {
        display: block;
        font-size: 1rem;
        text-decoration: none;
        color: black;
        padding: 16px 0px 16px 19px;
    }
    .navigation-input {
        position: relative;
        float: left;
        /* border: 0.5px solid black; */
        padding: 5px 0px;
        width: 28%;
    }
    .search-input-tag {
        font-size: 1rem;
        padding: 10px 54px;
    }
    
#navigation3 {
    float: left;
    width: 14%;
    padding: 0px;
    /* border: 0.5px solid black; */
    cursor: pointer;
}
.speaker-image {
    width: 49%;
    height: 30vh;
    float: left;
    padding: 30px 0px 50px 366px;
    /* border: 0.5px solid black; */
}
.shortlisted-row {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 14vh;
    padding: 0px 30px;
    /* border: 0.5px solid black; */
}
#select-btn {
    font-size: 1rem;
    padding: 18px 18px;
    margin: 0px 6px;
    border-radius: 6px;
}
.catogaries-section {
    width: 99.99%;
    padding-left: 5px;
    color: #77777B;
    /* border: 0.5px solid black; */
    height: 60vh;
}
.colors-section {
    width: 99.99%;
    color: #77777B;
    /* border: 0.5px solid black; */
    height: 22vh;
}
circle {
    float: left;
    width: 18px;
    height: 18px;
    margin-top: 8px;
    margin-left: 22px;
    border-radius: 50%;
    /* border: 0.5px solid black; */
}


.image-section-row-item3 {
    float: left;
    width: 32.3%;
    height: 44vh;
    padding: 5px 10px;
    /* border: 0.5px solid black; */
}
.image-item3-box {
    width: 100%;
    height: 34vh;
    /* border: 0.5px solid black; */
    border-radius: 5px;
}
.reset-btn {
    font-size: 1rem;
    color: #FFFFFF;
    background-color: #3577F0;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    padding: 20px 70px;
}
.size-tick-circle {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 40px;
    font-size: 1rem;
   
}
}
@media screen and (max-width:760px){
    #navigation1 {
    float: left;
    width: 20%;
    margin-left: 0px;
    padding: 0px;
    /* border: 0.5px solid black; */
}
#nav2 {
    width: 100%;
    height: 12vh;
    border-radius: 10px;
    padding: 16px 15px 5px 15px;
    background-color: #FFFFFF;
    margin: 0px auto;
    /* border: 0.2px solid black; */
}
#navigation2 {
    width: 30%;
    padding: 10px 0px;
}
#navigation2 ul li a {
    display: block;
    font-size: 0.80rem;
    text-decoration: none;
    color: black;
    padding: 7px 0px 7px 10px;
}
#about{
    display: none;
}
#blog{
    display: none;
}
.search-input-tag {
    font-size: 0.60rem;
    padding: 10px 30px;
}
.fa-magnifying-glass {
    font-size: 1em !important;
    position: absolute;
    left: 12px;
    top: 22px;
    z-index: 1;
}
.navigation-input {
    position: relative;
    float: left;
    /* border: 0.5px solid black; */
    padding: 5px 0px;
    width: 25%;
}
#navigation3 {
    float: left;
    width: 22%;
    padding: 0px;
    /* border: 0.5px solid black; */
    cursor: pointer;
}
#navigation3 i {
    float: right;
    font-size: 1.2em;
    border-radius: 50%;
    /* border: 0.5px solid black; */
    padding: 18px 8px;
    margin-left: 0px;
}
.All-product-section {
    width: 100%;
    height: 24vh;
    background-color: #F8F8F8;
    padding: 0px 30px;
    /* border: 0.5px solid black; */
}
.All-product-text-box {
    width: 49%;
    height: 24vh;
    padding-top: 7vh;
    float: left;
    /* border: 0.5px solid black; */
}
.All-products-heading {
    font-size: 1.8rem;
    font-weight: bold;
}
.speaker-image {
    width: 49%;
    height: 24vh;
    float: left;
    padding: 12px 30px 12px 170px;
    /* border: 0.5px solid black; */
}
.text-section {
    float: left;
    width: 24.99%;
    height: 151vh;
    /* border: 0.5px solid black; */
}
.catogaries-name {
    font-size: 0.90rem;
    padding: 0px 4px;
}
.gender-name {
    font-size: 0.90rem;
    padding: 0px 4px;
}
.colors-tick-circle {
    float: left;
    width: 14px;
    height: 14px;
    margin-top: 10px;
    margin-left: 11px;
    border-radius: 50%;
    /* border: 0.5px solid black; */
}
.size-section {
    width: 99.99%;
    color: #77777B;
    /* border: 0.5px solid black; */
    height: 26vh;
}
.size-tick-circle {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 38px;
    font-size: 0.90rem;
}
.reset-btn {
    font-size: 0.80rem;
    color: #FFFFFF;
    background-color: #3577F0;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    padding: 16px 40px;
}
.content-section {
    width: 100%;
    height: 158vh;
    padding: 20px 30px;
    /* border: 0.5px solid black; */
}
.showing-result{
    font-size: 0.90rem;
}
.image-section {
    float: left;
    width: 74.99%;
    height: 152vh;
    /* border: 0.5px solid black; */
}
#select-btn {
    font-size: 0.85rem;
    padding: 15px 5px;
    margin: 0px 6px;
    border-radius: 6px;
}
.image-section-row {
    width: 100%;
    height: 36vh;
    margin-top: 25px;
    /* border: 0.5px solid black; */
}
.image-section-row-item3 {
    float: left;
    width: 32.3%;
    height: 34vh;
    padding: 5px 10px;
    /* border: 0.5px solid black; */
}
.image-item3-box-name {
    color: rgb(100, 99, 99);
    font-size: 0.85rem;
    padding: 5px 0px;
}
.image-item3-box-offer-price {
    display: inline-block;
    color: black;
    font-weight: 600;
    font-size: 1.2rem;
}
.image-item3-box-MRP-price {
    color: gray;
    font-weight: 600;
    display: inline-block;
    text-decoration: line-through;
    font-size: 1rem;
}
.image-item3-box {
    width: 100%;
    height: 24vh;
    /* border: 0.5px solid black; */
    border-radius: 5px;
}
.button-section {
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 0.5px solid black; */
}

.load-more-btn {
    font-size: 0.90rem;
    font-weight: 600;
    color: #777777;
    padding: 20px 50px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: #F6F7FB;
}

.weeklyupdate-container {
    width: 100%;
    height: 52vh;
    margin-top: 10px;
    padding: 0px 0px 0px 0px;
    /* border: 0.5px solid black; */
}
.weeklyupdate-row {
    width: 100%;
    height: 52vh;
    padding-left: 70px;
    padding-top:70px;
    /* border: 0.5px solid black; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-image: url(https://new.axilthemes.com/demo/template/etrade/assets/images/bg/bg-image-5.jpg);
    border-radius: 6px;
}
.Get-weekly-bigtext {
    font-size: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    margin: 12px 0px 12px 0px;
}
.input-tag {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.89rem;
    width: 300px;
    padding: 18px 60px 18px 62px;
    border-radius: 5px;
    outline: none;
    border: none;
}
.subscribe-btn {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.90rem;
    background-color: black;
    color: #FFFFFF;
    margin-left: 20px;
    padding: 18px 25px;
    border-radius: 5px;
    border: none;
    outline: none;
}
.footer-section {
    width: 100%;
    height: 42vh;
    padding: 10px 0px 10px 0px;
    /* border: 0.5px solid black; */
}
.footer-row {
    width: 100%;
    height: 38vh;
    border-top: 3px solid #F6F7FB;
    border-bottom: 3px solid #F6F7FB;
    padding: 12px 35px;
}
.fulladdress {
    font-size: 0.89rem;
    margin: 8px 0px;
    color: #777777;
    padding: 7px 0px 4px 0px;
    /* border: 0.5px solid black; */
}
.footer-link {
    font-size: 0.90rem;
    display: block;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    padding: 8px 0px;
}
.footer-box4text {
    padding: 5px 0px;
    font-size: 0.90rem;
}
.footer-imgbox {
    float: left;
    width: 100%;
    height: 12vh;
    /* border: 0.5px solid black; */
}
.footer-imgbox1 {
    float: left;
    width: 49%;
    padding: 4px 10px 4px 10px;
}
.footer-imgbox2 {
    float: left;
    width: 49%;
    padding: 10px 0px;
}
}
@media screen and (max-width:600px){
    #nav1 {
        font-size: 0.80rem;
        height: 6vh;
    }
    .right ul li a {
        padding: 10px 10px;
    }
    #navigation2 {
        width: 30%;
        padding: 0px 0px;
    }
    #nav2 {
        width: 100%;
        height: 10vh;
        border-radius: 10px;
    }
    
    .navigation-input {
        position: relative;
        float: left;
        /* border: 0.5px solid black; */
        padding: 5px 0px;
        width: 32%;
    }
    .search-input-tag {
        font-size: 0.70rem;
        padding: 6px 22px;
    }
    #navigation2 ul li a {
        display: block;
        font-size: 0.70rem;
        text-decoration: none;
        color: black;
        padding: 7px 0px 7px 6px;
    }
    .fa-magnifying-glass {
        font-size: 0.80em !important;
        position: absolute;
        left: 6px;
        top: 18px;
        z-index: 1;
    }
    #navigation3 i {
        float: right;
        font-size: 1em !important;
        border-radius: 50%;
        /* border: 0.5px solid black; */
        padding: 12px 4px;
        margin-left: 0px;
    }
    
#navigation3 {
    float: left;
    width: 14%;
}
.background-imagenav {
    width: 100%;
    height: 8vh;
    padding: 22px 2px;
}
.background-text {
    text-align: center;
    color: #FFFFFF;
    font-size: 0.85rem;
    font-weight: 600;
}
.my-account-text {
    font-size: 0.75rem;
    color: #449ee9;
}
.text-section {
    float: left;
    width: 24.99%;
    height: 122vh;
    /* border: 0.5px solid black; */
}
.All-product-section {
    width: 100%;
    height: 22vh;
    background-color: #F8F8F8;
    padding: 0px 30px;
    /* border: 0.5px solid black; */
}
.All-products-heading {
    font-size: 1.3rem;
    font-weight: bold;
}
.speaker-image {
    width: 49%;
    height: 22vh;
    float: left;
    padding: 24px 20px 29px 126px;
    /* border: 0.5px solid black; */

}
.speaker-imagebox {
    width: 89%;
    height: 16vh;
}
.content-section {
    width: 100%;
    height: 126vh;
    padding: 20px 4px;
    /* border: 0.5px solid black; */
}
.catogaries-section {
    width: 99.99%;
    padding-left: 5px;
    color: #77777B;
    /* border: 0.5px solid black; */
    height: 46vh;
}
.catogaries-name {
    font-size: 0.76rem;
    padding: 0px 4px;
}
.catogaries-name-div {
    padding: 6px 6px;
}
.gender-section {
    width: 99.99%;
    color: #77777B;
    /* border: 0.5px solid black; */
    padding-left: 5px;
    height: 22vh;
}
.gender-name {
    font-size: 0.76rem;
    padding: 0px 4px;
}
.gender-name-div {
    padding: 6px 6px;
}
.colors-section {
    width: 99.99%;
    color: #77777B;
    /* border: 0.5px solid black; */
    height: 20vh;
}
.colors-tick-circle {
    float: left;
    width: 12px;
    height: 12px;
    margin-top: 8px;
    margin-left: 10px;
    border-radius: 50%;
    /* border: 0.5px solid black; */
}
.size-section {
    width: 99.99%;
    color: #77777B;
    /* border: 0.5px solid black; */
    height: 24vh;
}
.size-tick-circle {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34px;
    height: 34px;
    font-size: 0.80rem;
}
.all-resetbtn-section {
    width: 99.99%;
    /* border: 0.5px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vh;
}
.reset-btn {
    font-size: 0.70rem;
    color: #FFFFFF;
    background-color: #3577F0;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    padding: 14px 32px;
}
.showing-result {
    font-size: 0.78rem;
}
#select-btn {
    font-size: 0.75rem;
    padding: 10px 4px;
    margin: 0px 6px;
    border-radius: 6px;
}
.shortlisted-row {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 8vh;
    padding: 0px 30px;
    /* border: 0.5px solid black; */
}
.image-section {
    float: left;
    width: 74.99%;
    height: 122vh;
    /* border: 0.5px solid black; */
}
.image-section-row {
    width: 100%;
    height: 28vh;
    margin-top: 20px;
    /* border: 0.5px solid black; */
}
.image-item3-box-name {
    color: rgb(100, 99, 99);
    font-size: 0.70rem;
    padding: 5px 0px;
}
.image-item3-box-offer-price {
    display: inline-block;
    color: black;
    font-weight: 600;
    font-size: 1rem;
}
.image-item3-box-MRP-price {
    font-size: 0.90rem;
}
.image-section-row-item3 {
    float: left;
    width: 32.3%;
    height: 30vh;
    padding: 5px 10px;
    /* border: 0.5px solid black; */
}
.footer-link {
    font-size: 0.70rem;
    padding: 5px 0px;
}
.image-item3-box {
    width: 100%;
    height: 18vh;
    /* border: 0.5px solid black; */
    border-radius: 5px;
}
.button-section {
    width: 100%;
    height: 17vh;
    display: flex;
}
.load-more-btn {
    font-size: 0.80rem;
    padding: 16px 42px;
   
}
.weeklyupdate-container {
    width: 100%;
    height: 32vh;
    margin-top: 10px;
}
.weeklyupdate-row {
    width: 100%;
    height: 30vh;
    padding-left: 40px;
    padding-top: 40px;
}
.Get-weekly-bigtext {
    font-size: 1.1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    margin:6px 0px;
}
.envolop-circle {
    font-size: 0.70rem;
    display: inline-block;
    padding: 3px 4px;
}
.envolop-text {
    font-size: 0.80rem;
}
.fa-envelope {
    position: absolute;
    left: 10px;
    font-size: 1rem;
    padding: 10px 8px;
}
.input-tag {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.75rem;
    width: 220px;
    padding: 10px 30px 14px 42px;
}
.subscribe-btn {
    font-size: 0.70rem;
    margin-left: 20px;
    padding: 12px 20px;
}
.footer-row {
    width: 100%;
    height: 30vh;
    border-top: 3px solid #F6F7FB;
    border-bottom: 3px solid #F6F7FB;
    padding: 12px 10px;
}
.footer-section {
    width: 100%;
    height: 34vh;
    padding: 10px 0px 10px 0px;
    /* border: 0.5px solid black; */
}
#footer-box1 {
    padding: 20px 10px 0px 0px;
}
.footer-box4text {
    padding: 5px 0px;
    font-size: 0.72rem;
}
.fulladdress {
    font-size: 0.70rem;
    margin: 8px 0px;
}

}